<div class="prose mx-auto">
  <h1>Billing</h1>

  <h2 class="mb-0">Manage payments</h2>
  <div class="flex justify-between items-center">
    <div>Update payment methods and manage subscriptions.</div>
    <%= link_to "Edit Billing", edit_billing_path, class: "btn btn-secondary" %>
  </diV>

  <h2 class="mb-0">Extra billing info</h2>
  <p>Add information on receipts and invoices. For example, VAT ID, business name and address.</p>
  <%= form_with model: current_user, url: billing_info_path do |form| %>
    <%= form.text_area :extra_billing_info, required: true, class: "form-control mb-2" %>
    <%= form.submit "Save Changes", class: "btn btn-secondary" %>
  <% end %>

  <h2>Payment History</h2>

  <% if current_user.pay_charges.sorted.any? %>
    <table class="w-full text-sm">
      <thead>
        <tr>
          <th class="p-3 uppercase text-left text-xs"><%= t ".date" %></th>
          <th class="p-3 uppercase text-left text-xs"><%= t ".amount" %></th>
          <th class="p-3 uppercase text-center text-xs"><%= t ".invoice" %></th>
          <th class="p-3 uppercase text-center text-xs"><%= t ".receipt" %></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.pay_charges.sorted.each do |charge| %>
          <tr class="group border-t border-gray-200">
            <td class="p-3"><%= charge.created_at.strftime("%B %e, %Y") %></td>
            <td class="p-3"><%= pay_amount_to_currency(charge) %></td>
            <td class="p-3 text-center">
              <%= link_to invoice_billing_charge_path(charge, format: :pdf), target: :_blank do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 inline-block">
                  <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                  <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
                </svg>
              <% end %>
            </td>
            <td class="p-3 text-center">
              <%= link_to billing_charge_path(charge, format: :pdf), target: :_blank do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 inline-block">
                  <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                  <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div class="text-gray-700">No payment history.</div>
  <% end %>
</div>
