<div class="prose mx-auto px-4">
  <h1>Getting started with SellRepo</h1>
  <p>Welcome! Let's get your store front set up.</p>


  <h2>
    <%= check_icon class: class_names("inline-block", "size-6", SellRepo.admin? ? "text-green-600" : "text-gray-500") %>
    Create an admin user
  </h2>
  <p>Open a terminal and run the following to create an admin user or grant admin to an existing user.</p>
  <pre><code>EMAIL=me@example.org rails db:seed</code></pre>

  <h2>
    <%= check_icon class: class_names("inline-block", "size-6", SellRepo.app_name? ? "text-green-600" : "text-gray-500") %>
    Set up your store
  </h2>
  <p>Login as an admin and <%= link_to "configure your store", edit_madmin_config_path(app_config), target: :_blank %> with a name and support link.</p>

  <h2>
    <%= check_icon class: class_names("inline-block", "size-6", SellRepo.github_token? ? "text-green-600" : "text-gray-500") %>
    Create a GitHub Access token
  </h2>
  <p>Next, we need to create a GitHub access token to connect customers to the repositories they've purchased access to.</p>
  <p>We recommend setting <u>Expiration</u> to as long as possible.</p>

  <p>Select the repositories this token will have access to. You can choose individual repositories or All repositories.</p>
  <%= link_to image_tag("sellrepo/github-token-repositories.png", class: "max-h-48"), asset_path("sellrepo/github-token-repositories.png"), target: :_blank %>

  <p>Finally, give the token Administration Read &amp; Write permission under Repository permissions to allow SellRepo to add collaborators.</p>
  <%= link_to image_tag("sellrepo/github-token-permissions.png", class: "max-h-48"), asset_path("sellrepo/github-token-permissions.png"), target: :_blank %>

  <p>Once you've got your token, add it as the <code>GITHUB_TOKEN</code> environment variable or to Rails credentials.</p>

  <h2>
    <%= check_icon class: class_names("inline-block", "size-6", SellRepo.payments? ? "text-green-600" : "text-gray-500") %>
    Payments
  </h2>
  <p>We also need your Stripe API key to handle payments. Add this to environment variables or Rails credentials.</p>
  <pre><code>STRIPE_PRIVATE_KEY=sk_12345</code></pre>

  <% if Rails.env.production? %>
    <p>Create a production webhook that points to <code>https://yourdomain.com/webhooks/stripe</code> and add the webhook signing secret to environment variables or Rails credentials.</p>
    <pre><code>STRIPE_SIGNING_SECRET=whsec_12345</code></pre>
  <% elsif Rails.env.local? %>

  <% end %>

  <% if Rails.env.production? %>
    <h2>
      <%= check_icon class: class_names("inline-block", "size-6", SellRepo.smtp? ? "text-green-600" : "text-gray-500") %>
      SMTP for sending emails
    </h2>
    <p>Add SMTP credentials to environment variables or Rails credentials</p>

    <pre><code>SMTP_HOST=smtp.example.com
SMTP_DOMAIN=yourdomain.com
SMTP_USERNAME=username
SMTP_PASSWORD=password
  <% end %>

  <h2>
    <%= check_icon class: class_names("inline-block", "size-6", SellRepo.payments? ? "text-green-600" : "text-gray-500") %>
    Create a product
  </h2>
  <p>Last but not least, <%= link_to_if current_user&.admin?, "add your first product", new_madmin_product_path, target: :_blank %> for sale!</p>
</div>
