<div class="prose mx-auto">
  <h1><%=t ".profile" %></h1>

  <%= form_with model: current_user, url: profile_path do |form| %>
    <% if form.object.errors.any? %>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="mb-4">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, autofocus: true, placeholder: "Full name" %>
    </div>

    <div>
      <%= form.button t(".save"), class: "btn btn-secondary" %>
    </div>
  <% end %>

  <%= form_with model: current_user, url: profile_email_path do |form| %>
    <h3><%=t ".change_email_address" %></h3>

    <% if current_user.unconfirmed_email? %>
      <p><%=t ".waiting_confirmation", email: current_user.unconfirmed_email %></p>
    <% end %>

    <% if form.object.errors.any? %>
      <ul class="bg-red-100 p-4 rounded">
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <p><%=t ".current_email_address", email: current_user.email %></p>
    <p><%=t ".confirmation_instructions" %></p>

    <div class="mb-4">
      <%= form.label :unconfirmed_email, t(".new_email"), class: "form-label" %>
      <%= form.email_field :unconfirmed_email, required: true, class: "form-control" %>
    </div>

    <div>
      <%= form.button t(".save"), class: "btn btn-secondary" %>
    </div>
  <% end %>

  <%= form_with model: current_user, url: profile_password_path do |form| %>
    <h3><%=t ".change_password" %></h3>

    <% if form.object.errors.any? %>
      <ul class="bg-red-100 p-4 rounded">
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="mb-4">
      <%= form.label :password_challenge, class: "form-label" %>
      <%= form.password_field :password_challenge, required: true, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= form.label :password, t(".new_password"), class: "form-label" %>
      <%= form.password_field :password, required: true, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, required: true, class: "form-control" %>
    </div>

    <div>
      <%= form.button t(".save"), class: "btn btn-secondary" %>
    </div>
  <% end %>

  <%= form_with url: profile_path, method: :delete do |form| %>
    <h3><%=t ".delete_account" %></h3>
    <p>You will lose access to all your licenses and purchase history by deleting your account.</p>
    <%= form.button t(".delete_account"), class: "btn btn-secondary", data: { turbo_confirm: t(".confirm") } %>
  <% end %>
</div>
